node_modules
.env
testConnection.ts
prisma.config.ts
prisma.d.ts

1️⃣ Email Verification
2️⃣ Auto Logout (1hr inactivity)
3️⃣ Activity Logs
4️⃣ Password Expiration (3 months)
5️⃣ Strong Password Policy